body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.homeContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(./images/home2.jpeg);
    background-size: cover;
}



@media (min-width: 480px) {
    .homeContentContainer {
        position: relative;
        background-color: rgba(205, 201, 201, 0.8);
        /* White background with some transparency */
        padding: 12%;
        border-radius: 50%;
        top: 8%;
        max-width: 600px;
        width: 70%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center align all content initially */
    }
    
.homeLogo{
    height: 60px;
    margin-bottom: 3%;
}
.homeTitle {
    position: relative;
    font-size: 20px;
    left: 4%;
    margin-bottom: 4%;
    text-align: center;
    /* Center the title text */
    width: 100%;
    /* Ensure it takes full width */
    color: black;
}

.homeDescription {
    position: relative;
    text-align: center;
    /* Left-align the description */
    font-size: 18px;
    width: 100%;
    /* Ensure it takes full width */
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.homeButtons {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    /* Align buttons to the left */
    width: 100%;
    /* Ensure it takes full width */
    padding: 3%;
}

.homeButton {
    padding: 8px 16px;
    font-size: 1rem;
    color: white;
    background-color: #ae9b7a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.homeButton:hover {
    background-color: #cfc0ae;
}

}

@media (min-width: 512px) {
    .homeContentContainer {
        position: relative;
        background-color: rgba(205, 201, 201, 0.8);
        /* White background with some transparency */
        padding: 12%;
        border-radius: 50%;
        top: 8%;
        max-width: 500px;
        width: 70%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center align all content initially */
    }
    
.homeLogo{
    height: 60px;
    margin-bottom: 3%;
}
.homeTitle {
    position: relative;
    font-size: 20px;
    left: 4%;
    margin-bottom: 4%;
    text-align: center;
    /* Center the title text */
    width: 100%;
    /* Ensure it takes full width */
    color: black;
}

.homeDescription {
    position: relative;
    text-align: center;
    /* Left-align the description */
    font-size: 18px;
    width: 100%;
    /* Ensure it takes full width */
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.homeButtons {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    /* Align buttons to the left */
    width: 100%;
    /* Ensure it takes full width */
    padding: 3%;
}

.homeButton {
    padding: 8px 16px;
    font-size: 1rem;
    color: white;
    background-color: #ae9b7a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.homeButton:hover {
    background-color: #cfc0ae;
}
}


@media (min-width: 712px) {
    .homeContentContainer {
        position: relative;
        background-color: rgba(205, 201, 201, 0.8);
        /* White background with some transparency */
        padding: 12%;
        border-radius: 50%;
        top: 8%;
        max-width: 600px;
        width: 60%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center align all content initially */
    }
    
.homeLogo{
    height: 60px;
    margin-bottom: 3%;
}
.homeTitle {
    position: relative;
    font-size: 20px;
    left: 4%;
    margin-bottom: 4%;
    text-align: center;
    /* Center the title text */
    width: 100%;
    /* Ensure it takes full width */
    color: black;
}

.homeDescription {
    position: relative;
    text-align: center;
    /* Left-align the description */
    font-size: 18px;
    width: 100%;
    /* Ensure it takes full width */
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.homeButtons {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    /* Align buttons to the left */
    width: 100%;
    /* Ensure it takes full width */
    padding: 3%;
}

.homeButton {
    padding: 8px 16px;
    font-size: 1rem;
    color: white;
    background-color: #ae9b7a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.homeButton:hover {
    background-color: #cfc0ae;
}
}
@media (min-width: 960px) {
    .homeContentContainer {
        position: relative;
        background-color: rgba(205, 201, 201, 0.8);
        /* White background with some transparency */
        padding: 10%;
        border-radius: 50%;
        top: 8%;
        max-width: 600px;
        width: 50%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center align all content initially */
    }
    
.homeLogo{
    height: 60px;
    margin-bottom: 3%;
}
.homeTitle {
    position: relative;
    font-size: 20px;
    left: 4%;
    margin-bottom: 4%;
    text-align: center;
    /* Center the title text */
    width: 100%;
    /* Ensure it takes full width */
    color: black;
}

.homeDescription {
    position: relative;
    text-align: center;
    /* Left-align the description */
    font-size: 18px;
    width: 100%;
    /* Ensure it takes full width */
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.homeButtons {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    /* Align buttons to the left */
    width: 100%;
    /* Ensure it takes full width */
    padding: 3%;
}

.homeButton {
    padding: 8px 16px;
    font-size: 1rem;
    color: white;
    background-color: #ae9b7a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.homeButton:hover {
    background-color: #cfc0ae;
}
}
@media (min-width: 1200px) {
    .homeContentContainer {
        position: relative;
        background-color: rgba(205, 201, 201, 0.8);
        /* White background with some transparency */
        padding: 8%;
        border-radius: 50%;
        top: 8%;
        max-width: 600px;
        width: 40%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center align all content initially */
    }
    
.homeLogo{
    height: 60px;
    margin-bottom: 3%;
}
.homeTitle {
    position: relative;
    font-size: 20px;
    left: 4%;
    margin-bottom: 4%;
    text-align: center;
    /* Center the title text */
    width: 100%;
    /* Ensure it takes full width */
    color: black;
}

.homeDescription {
    position: relative;
    text-align: center;
    /* Left-align the description */
    font-size: 18px;
    width: 100%;
    /* Ensure it takes full width */
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.homeButtons {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    /* Align buttons to the left */
    width: 100%;
    /* Ensure it takes full width */
    padding: 3%;
}

.homeButton {
    padding: 8px 16px;
    font-size: 1rem;
    color: white;
    background-color: #ae9b7a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.homeButton:hover {
    background-color: #cfc0ae;
}
}