.signInMainDev {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url(./images/gallery.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.signInTitle {
  color: #fff;
  font-family: "Poetsen One", sans-serif;
  font-size: 50px;
  left: 10%;
  top: 5%;
  position: relative;
}

/*
.connectMetaMaskButton {
    display: flex;
    width: 70%;
    height: 20%;
    position: relative;
    align-items: center;
  justify-content: center;
    border-radius: 95px;
    top: 10%;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    background-color: #a08972;
    cursor: pointer;
    color: #fff;
    border: 0;
    text-decoration: none;
    text-align: center;
    margin-top: 20px; /* Add margin if needed */

.signInformTitle {
  position: relative;
  text-align: center;
  color: #5b340c;
  font-family: "Poetsen One", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.signInForm input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signinButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  position: relative;
  border-radius: 95px;
  top: 10%;
  font-family: "Khula", sans-serif;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  background-color: #a08972;
  cursor: pointer;
  color: #fff;
  border: 0;
  text-decoration: none;
  left: 10%;
  text-align: center;
  margin-top: 20px; /* Add margin if needed */
}

@media (min-width: 480px) {
  .signInForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 12%;
    top: 25%;
    width: 50%;
    height: 60%;
    border-radius: 93px;
    background-color: #fff;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    box-shadow: -10px -10px 4px 0px #00000040;
    z-index: 2;
  }

  .signInformTitle {
    position: relative;
    text-align: center;
    color: #5b340c;
    font-family: "Poetsen One", sans-serif;
    font-size: 28px;
    padding-bottom: 5%;
  }

  .inputs {
    position: relative;
    right: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  .inputContainer {
    position: relative;
    width: 80%;
    align-items: center;
    display: flex;
    margin: auto;
    top: 35%;
    left: 22%;
    background: #f6cfa0;
    border-radius: 50px;
    outline: none;
    box-shadow: inset 10px 20px 20px 0px #00000040;
  }

  .inputContainer input {
    color: black;
    border: none;
    margin: auto;
    background: transparent;
    width: 80%;
    height: 45px;
    border-radius: 50px;
    outline: none;
  }

  .signinButton {
    width: 80%;
    height: 55%;
    position: relative;
    border-radius: 95px;
    top: 15%;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    background-color: #a08972;
    cursor: pointer;
    color: #fff;
    border: 0;
  }
  .connectMetaMaskButton {
    display: flex;
    width: 80%;
    height: 20%;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 95px;
    top: 10%;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    background-color: #a08972;
    cursor: pointer;
    color: #fff;
    border: 0;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
  }

  .half-circle {
    position: absolute;
    left: 24%;
    top: 73%;
    background-color: #171512;
    height: 30%;
    width: 80%;
    border-radius: 50% / 100% 100% 0 0;
    z-index: 0;
  }
}

@media (min-width: 512px) {
  .signInForm {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 42.5%;
    width: 43%;
    height: 56%;
    top: 10%;
    border-radius: 93px;
    background-color: #fff;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    box-shadow: -10px -10px 4px 0px #00000040;
    z-index: 2;
  }

  .signInformTitle {
    position: relative;
    text-align: center;
    color: #5b340c;
    font-family: "Poetsen One", sans-serif;
    font-size: 28px;
    top: 0%;
  }

  .signInText {
    position: relative;
    font-size: 15px;
    color: #52452c;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .inputs {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  .inputContainer {
    position: relative;
    align-items: center;
    display: flex;
    margin: auto;
    background: #f6cfa0;
    border-radius: 50px;
    outline: none;
    box-shadow: inset 10px 20px 20px 0px #00000040;
  }

  .inputContainer input {
    color: black;
    border: none;
    margin: auto;
    background: transparent;
    width: 80%;
    height: 45px;
    border-radius: 50px;
    outline: none;
  }

  .connectMetaMaskButton {
    display: flex;
    width: 80%;
    height: 20%;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 95px;
    top: 10%;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    background-color: #a08972;
    cursor: pointer;
    color: #fff;
    border: 0;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
  }
  .signinButton{
    display: flex;
    width: 80%;
    height: 60%;
    top:18%;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 95px;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    background-color: #a08972;
    cursor: pointer;
    color: #fff;
    border: 0;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
  }


  .half-circle {
    position: absolute;
    background-color: #171512;
    height: 30%;
    width: 80%;
    left: 24%;
    border-radius: 50% / 100% 100% 0 0;
    z-index: 0;
  }
}
@media (min-width: 712px) {
  .signInForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 51%;
    width: 35%;
    height: 55%;
    border-radius: 93px;
    background-color: #fff;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    box-shadow: -10px -10px 4px 0px #00000040;
    z-index: 2;
  }

  .signInformTitle {
    position: relative;
    text-align: center;
    color: #5b340c;
    font-family: "Poetsen One", sans-serif;
    font-size: 28px;
  }

  .signInText {
    position: relative;
    font-size: 15px;
    color: #52452c;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .signinButton{
    display: flex;
    width: 80%;
    height: 60%;
    top:18%;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 95px;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    background-color: #a08972;
    cursor: pointer;
    color: #fff;
    border: 0;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
  }


  .inputs {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  .inputContainer {
    position: relative;
    align-items: center;
    display: flex;
    margin: auto;
    background: #f6cfa0;
    border-radius: 50px;
    outline: none;
    box-shadow: inset 10px 20px 20px 0px #00000040;
  }

  .inputContainer input {
    color: black;
    border: none;
    margin: auto;
    background: transparent;
    width: 80%;
    height: 45px;
    border-radius: 50px;
    outline: none;
  }
  .connectMetaMaskButton {
    display: flex;
    width: 75%;
    height: 20%;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 95px;
    top: 5%;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    background-color: #a08972;
    cursor: pointer;
    color: #fff;
    border: 0;
    text-decoration: none;
    text-align: center;
    margin-top: 20px; /* Add margin if needed */
  }
  .half-circle {
    position: absolute;
    background-color: #171512;
    height: 30%;
    width: 70%;
    left: 34%;
    border-radius: 50% / 100% 100% 0 0;
    z-index: 0;
  }
}
@media (min-width: 960px) {
  .signInForm {
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 65%;
    width: 25%;
    height: 59%;
    top: 5%;
    border-radius: 93px;
    background-color: #fff;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    box-shadow: -10px -10px 4px 0px #00000040;
    z-index: 2;
  }

  .signInformTitle {
    position: relative;
    text-align: center;
    color: #5b340c;
    font-family: "Poetsen One", sans-serif;
    font-size: 28px;
  }

  .signInText {
    position: relative;
    font-size: 15px;
    color: #52452c;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .inputs {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  .inputContainer {
    position: relative;
    align-items: center;
    display: flex;
    margin: auto;
    background: #f6cfa0;
    border-radius: 50px;
    outline: none;
    box-shadow: inset 10px 20px 20px 0px #00000040;
  }

  .inputContainer input {
    color: black;
    border: none;
    margin: auto;
    background: transparent;
    height: 45px;
    border-radius: 50px;
    outline: none;
  }

  .connectMetaMaskButton {
    width: 80%;
    height: 15%;
    position: relative;
    border-radius: 95px;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    background-color: #a08972;
    cursor: pointer;
    color: #fff;
    border: 0;
  }
  .signinButton{
    display: flex;
    width: 80%;
    height: 60%;
    top:18%;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 95px;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    background-color: #a08972;
    cursor: pointer;
    color: #fff;
    border: 0;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
  }


  .half-circle {
    position: absolute;
    background-color: #171512;
    height: 30%;
    width: 50%;
    left: 52%;
    border-radius: 50% / 100% 100% 0 0;
    z-index: 0;
  }
}
/* for desktop*/
@media (min-width: 1200px) {
  .signInForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 71.5%;
    width: 20%;
    height: 60%;
    top: 5%;
    border-radius: 93px;
    background-color: #fff;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    box-shadow: -10px -10px 4px 0px #00000040;
    z-index: 2;
  }

  .signInformTitle {
    position: relative;
    text-align: center;
    color: #5b340c;
    font-family: "Poetsen One", sans-serif;
    font-size: 28px;
    padding-bottom: 5%;
  }
  .signinButton{
    display: flex;
    width: 80%;
    height: 60%;
    top:18%;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 95px;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    background-color: #a08972;
    cursor: pointer;
    color: #fff;
    border: 0;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
  }

  .signInText {
    position: relative;
    font-size: 15px;
    top: 0.8rem;
    text-align: center;
    color: hsl(39, 30%, 25%);
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .inputs {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  .inputContainer {
    position: relative;
    align-items: center;
    display: flex;
    margin: auto;

    background: #f6cfa0;
    border-radius: 50px;
    outline: none;
    box-shadow: inset 10px 20px 20px 0px #00000040;
  }

  .inputContainer input {
    color: black;
    border: none;
    margin: auto;
    background: transparent;
    width: 80%;
    height: 45px;
    border-radius: 50px;
    outline: none;
  }
  .connectMetaMaskButton {
    display: flex;
    width: 80%;
    height: 20%;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 95px;
    top: 10%;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    background-color: #a08972;
    cursor: pointer;
    color: #fff;
    border: 0;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
  }

  .half-circle {
    position: absolute;
    left: 61.5%;
    background-color: #171512;
    height: 30%;
    width: 40%;
    border-radius: 50% / 100% 100% 0 0;
    z-index: 0;
  }
}
