.signUpMain {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(./images/gallery.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.signUpTitle {
    color: #fff;
    font-family: "Poetsen One", sans-serif;
    font-size: 50px;
    left: 10%;
    top:5%;
    position: relative;
}
a.googleIconSignUp {
    position: relative;
    left: 45%;
    font-size: 24px;
    top: 0.2rem;
}


/* For phones: */
@media (min-width: 480px) {


    .signUpForm {
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 12%;
    top: 22%;
    width: 53%;
    height: 63%;
    border-radius: 93px;
    background-color: #fff;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    box-shadow: -10px -10px 4px 0px #00000040;
    z-index: 2;
    }

    .signUpformTitle {
        position: relative;
    text-align: center;
    color: #5b340c;
    font-family: "Poetsen One", sans-serif;
    font-size: 28px;
    padding-bottom: 5%;
    }

    .signUpText {
        position: relative;
        font-size: 15px;
        top: 0.8rem;
        text-align: center;
        color: hsl(39, 30%, 25%);
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .signUpButton {
        width: 80%;
    height: 15%;
    position: relative;
    border-radius: 95px;
   top: 15%;
font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    background-color: #a08972;
    cursor: pointer;
    color: #fff;
    border: 0;
    }

    .half-circle-signup {
        position: absolute;
    left:23%;
    top: 75%;
    background-color: #171512;
    height: 30%;
    width: 80%;
    border-radius: 50% / 100% 100% 0 0;
    z-index: 1;
    }

    .login {
        position: relative;
    cursor: pointer;
    background-color: #171512;
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    color: #f6cfa0;
    top: 25%;
    left: 40%;
    border: 0;
    }
}


/*tablet*/
@media (min-width: 512px) {

    .signUpForm {
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        left: 40%;
        width: 50%;
        height: 60%;
        top:14%;
        border-radius: 93px;
        background-color: #fff;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        box-shadow: -10px -10px 4px 0px #00000040;
        z-index: 2;
    }

    .signUpformTitle {
        position: relative;
        text-align: center;
        color: #5b340c;
        font-family: "Poetsen One", sans-serif;
        font-size: 28px;
        top: 0%;
    }

    .signUpText {
        position: relative;
        font-size: 15px;
        color: #52452c;
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-style: normal;
    }


    .signUpButton {
        width: 80%;
        height: 15%;
        position: relative;
        border-radius: 95px;
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-size: 25px;
        font-style: normal;
        background-color: #a08972;
        cursor: pointer;
        color: #fff;
        border: 0;
    }

    .half-circle-signup {
        position: absolute;
        background-color: #171512;
        height: 30%;
        width: 80%;
        left: 23%;
        border-radius: 50% / 100% 100% 0 0;
        z-index: 1;
    }

    .login {
        position: relative;
        cursor: pointer;
        background-color: #171512;
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-size: 26px;
        text-decoration: none;
        color: #f6cfa0;
        border: 0;
    }
}

/*tablet 2*/
@media (min-width: 712px) {


    .signUpForm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        left: 50%;
        width: 35%;
        height: 60%;
        border-radius: 93px;
        background-color: #fff;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        box-shadow: -10px -10px 4px 0px #00000040;
        z-index: 2;
    }

    .signUpformTitle {
        position: relative;
        text-align: center;
        color: #5b340c;
        font-family: "Poetsen One", sans-serif;
        font-size: 28px;
    }

    .signUpText {
        position: relative;
        font-size: 15px;
        color: #52452c;
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-style: normal;
    }


    .signUpButton {
        width: 80%;
        height: 15%;
        position: relative;
        border-radius: 95px;
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-size: 25px;
        font-style: normal;
        background-color: #a08972;
        cursor: pointer;
        color: #fff;
        border: 0;
    }

    .half-circle-signup {
        position: absolute;
        background-color: #171512;
        height: 30%;
        width: 70%;
        left: 32%;
        border-radius: 50% / 100% 100% 0 0;
        z-index: 1;
    }

    .login {
        position: relative;
        cursor: pointer;
        background-color: #171512;
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-size: 26px;
        text-decoration: none;
        color: #f6cfa0;
        border: 0;
    }
}

/*tablet*/
@media (min-width: 960px) {
    .signUpForm {
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        left: 55%;
        width: 30%;
        height: 60%;
        border-radius: 93px;
        background-color: #fff;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        box-shadow: -10px -10px 4px 0px #00000040;
        z-index: 2;
    }

    .signUpformTitle {
        position: relative;
        text-align: center;
        color: #5b340c;
        font-family: "Poetsen One", sans-serif;
        font-size: 28px;
    }
    .signUpText {
        position: relative;
        font-size: 15px;
        color: #52452c;
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-style: normal;
    }


    .signUpButton {
        width: 80%;
        height: 15%;
        position: relative;
        border-radius: 95px;
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-size: 25px;
        font-style: normal;
        background-color: #a08972;
        cursor: pointer;
        color: #fff;
        border: 0;
    }

    .half-circle-signup {
        position: absolute;
        background-color: #171512;
        height: 30%;
        width: 60%;
        left: 42%;
        border-radius: 50% / 100% 100% 0 0;
        z-index: 1;
    }

    .login {
        position: relative;
        cursor: pointer;
        background-color: #171512;
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-size: 26px;
        text-decoration: none;
        color: #f6cfa0;
        border: 0;
    }
}

/*for desktop*/
@media (min-width: 992px) {
    .signUpForm {
        display: flex;
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left:72%;
    width: 20%;
    height: 65%;
    top:10%;
    border-radius: 93px;
    background-color: #fff;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    box-shadow: -10px -10px 4px 0px #00000040;
    z-index: 2;
    }

    .signUpformTitle {
        position: relative;
    text-align: center;
    color: #5b340c;
    font-family: "Poetsen One", sans-serif;
    font-size: 28px;
    padding-bottom: 5%;
    }


    .signUpText {
        position: relative;
    font-size: 15px;
    top: 0.8rem;
    text-align: center;
    color: hsl(39, 30%, 25%);
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-style: normal;
    }

    .signUpButton {
        width: 80%;
    height: 15%;
    position: relative;
    border-radius: 95px;
   top: 15%;
font-family: "Khula", sans-serif;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    background-color: #a08972;
    cursor: pointer;
    color: #fff;
    border: 0;
    }

    .half-circle-signup {
        position: absolute;
        left:61.5%;
        background-color: #171512;
        height: 30%;
        width: 40%;
        border-radius: 50% / 100% 100% 0 0;
        z-index: 1;
    }

    .login {
        position: relative;
        cursor: pointer;
        background-color: #171512;
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-size: 30px;
        text-decoration: none;
        color: #f6cfa0;
        top: 22%;
        left: 44%;
        border: 0;
    }
}

@media (min-width : 1200px) {
    .signUpForm {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 12%;
        left: 72%;
        width: 20%;
        height: 63%;
        border-radius: 93px;
        background-color: #fff;
        box-shadow: -10px -10px 4px 0px #00000040;
        z-index: 2;
    }

    .signUpformTitle {
        position: relative;
        text-align: center;
        color: #5b340c;
        font-family: "Poetsen One", sans-serif;
        font-size: 30px;
        padding: 1%;
    }

    .signUpText {
        position: relative;
        font-size: 15px;
        top: 3%;
        color: #52452c;
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .signUpButton {
        width: 80%;
        height: 13%;
        position: relative;
        border-radius: 95px;
        top: 15%;
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-size: 25px;
        font-style: normal;
        background-color: #a08972;
        cursor: pointer;
        color: #fff;
        border: 0;
    }

    .half-circle-signup {
        position: absolute;
        top: 80%;
        background-color: #171512;
        height: 30%;
        width: 40%;
        left: 61%;
        border-radius: 50% / 100% 100% 0 0;
        z-index: 1;
    }

    .login {
        position: relative;
        cursor: pointer;
        background-color: #171512;
        font-family: "Khula", sans-serif;
        font-weight: 600;
        font-size: 30px;
        text-decoration: none;
        color: #f6cfa0;
        top: 25%;
        left: 35%;
        border: 0;
    }
}